[package]
name = "dashmap"
version = "4.0.0-rc6"
authors = ["Acrimon <joel.wejdenstal@gmail.com>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/xacrimon/dashmap"
homepage = "https://github.com/xacrimon/dashmap"
description = "Blazing fast concurrent HashMap for Rust."
readme = "README.md"
documentation = "https://docs.rs/dashmap"
keywords = ["atomic", "concurrent", "hashmap"]
categories = ["concurrency", "algorithms", "data-structures"]

[dependencies]
once_cell = "1.4.0"
serde = { version = "1.0.111", optional = true }

[package.metadata.docs.rs]
features = ["serde"]
