[package]
name = "dashmap"
version = "5.0.0"
authors = ["Acrimon <joel.wejdenstal@gmail.com>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/xacrimon/dashmap"
homepage = "https://github.com/xacrimon/dashmap"
description = "Blazing fast concurrent HashMap for Rust."
readme = "README.md"
documentation = "https://docs.rs/dashmap"
keywords = ["atomic", "concurrent", "hashmap"]
categories = ["concurrency", "algorithms", "data-structures"]

[features]
default = []
raw-api = []
send_guard = ["parking_lot/send_guard"]

[dependencies]
num_cpus = "1.13.0"
parking_lot = "0.11.2"
serde = { version = "1.0.131", optional = true, features = ["derive"] }
cfg-if = "1.0.0"
rayon = { version = "1.5.1", optional = true }

[package.metadata.docs.rs]
features = ["rayon", "raw-api", "serde"]
