[package]
name = "dashmap"
version = "5.4.0"
authors = ["Acrimon <joel.wejdenstal@gmail.com>"]
edition = "2018"
rust-version = "1.64"
license = "MIT"
repository = "https://github.com/xacrimon/dashmap"
homepage = "https://github.com/xacrimon/dashmap"
description = "Blazing fast concurrent HashMap for Rust."
readme = "README.md"
documentation = "https://docs.rs/dashmap"
keywords = ["atomic", "concurrent", "hashmap"]
categories = ["concurrency", "algorithms", "data-structures"]

[features]
raw-api = []
inline = ["hashbrown/inline-more"]

[dependencies]
lock_api = "0.4.10"
parking_lot_core = "0.9.8"
hashbrown = { version = "0.14.0", default-features = false }
serde = { version = "1.0.171", optional = true, features = ["derive"] }
cfg-if = "1.0.0"
rayon = { version = "1.7.0", optional = true }
once_cell = "1.18.0"

[package.metadata.docs.rs]
features = ["rayon", "raw-api", "serde"]
