[package]
name = "dashmap"
version = "5.3.4"
authors = ["Acrimon <joel.wejdenstal@gmail.com>"]
edition = "2018"
rust-version = "1.59"
license = "MIT"
repository = "https://github.com/xacrimon/dashmap"
homepage = "https://github.com/xacrimon/dashmap"
description = "Blazing fast concurrent HashMap for Rust."
readme = "README.md"
documentation = "https://docs.rs/dashmap"
keywords = ["atomic", "concurrent", "hashmap"]
categories = ["concurrency", "algorithms", "data-structures"]

[features]
raw-api = []

[dependencies]
lock_api = "0.4.7"
parking_lot_core = "0.9.3"
serde = { version = "1.0.136", optional = true, features = ["derive"] }
cfg-if = "1.0.0"
rayon = { version = "1.5.2", optional = true }

[package.metadata.docs.rs]
features = ["rayon", "raw-api", "serde"]
