[package]
name = "dashmap"
version = "3.11.5"
authors = ["Acrimon <joel.wejdenstal@gmail.com>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/xacrimon/dashmap"
homepage = "https://github.com/xacrimon/dashmap"
description = "Blazing fast concurrent HashMap for Rust."
readme = "README.md"
documentation = "https://docs.rs/dashmap"
keywords = ["atomic", "concurrent", "hashmap"]
categories = ["concurrency", "algorithms", "data-structures"]

[features]
default = []
raw-api = []
no_std = ["hashbrown"]

[dependencies]
num_cpus = "1.13.0"
ahash = "0.4.0"
serde = { version = "1.0.114", optional = true, features = ["derive"] }
cfg-if = "0.1.10"
hashbrown = { version = "0.8.0", optional = true }

[package.metadata.docs.rs]
features = ["raw-api"]
